# Election Survey Analysis

In [83]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [84]:
survey = pd.read_csv("Eletion_Survey_Dataset.csv")
survey.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [85]:
survey.tail()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518

In [86]:
survey.shape

(6867, 14)

In [87]:
survey.index

RangeIndex(start=0, stop=6867, step=1)

In [88]:
survey.dtypes

response_id           int64
collection_date      object
urban_rural          object
education            object
income               object
Vote_Now             object
Past_Vote            object
CM_satisfaction      object
MLA_satisfaction     object
age                  object
gender               object
assembly_no           int64
category             object
weight              float64
dtype: object

In [89]:
survey.columns

Index(['response_id', 'collection_date', 'urban_rural', 'education', 'income',
       'Vote_Now', 'Past_Vote', 'CM_satisfaction', 'MLA_satisfaction', 'age',
       'gender', 'assembly_no', 'category', 'weight'],
      dtype='object')

In [90]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6867 entries, 0 to 6866
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   response_id       6867 non-null   int64
 1   collection_date   6867 non-null   object
 2   urban_rural       6867 non-null   object
 3   education         6867 non-null   object
 4   income            6867 non-null   object
 5   Vote_Now          6867 non-null   object
 6   Past_Vote         6867 non-null   object
 7   CM_satisfaction   6867 non-null   object
 8   MLA_satisfaction  6867 non-null   object
 9   age               6867 non-null   object
 10  gender            6867 non-null   object
 11  assembly_no       6867 non-null   int64
 12  category          6867 non-null   object
 13  weight            6867 non-null   float64
dtypes: float64(1), int64(2), object(11)
memory usage: 751.2+ KB

# Question 2 - How many samples were collected on each day?

In [91]:
survey['day'] = pd.to_datetime(survey['collection_date']).dt.day

In [92]:
survey

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight,day
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969,24
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419,24
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762,24
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298,24
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329,1
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780,1
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926,1
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137,1
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518,1

In [93]:
survey['day'].value_counts()

24    1479
25     998
28     761
27     665
29     620
1      607
26     598
30     582
31     557
Name: day, dtype: int64

# Question 3 - What proportion of the total respondents were aged less than 45?

In [94]:
survey[survey['age'] < '45']

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight,day
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969,24
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419,24
2,3,5-24-2017,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762,24
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298,24
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6862,6863,6-1-2017,Rural,10th Pass,"BPL/Below ₹ 5,000",JD(U),BJP,Fully Satisfied,Fully Dissatisfied,25,Male,166,Gen,0.036329,1
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,Male,169,BC,0.252780,1
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,Male,241,Gen,1.812926,1
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,Male,243,Gen,0.080137,1
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,Male,241,Gen,1.797518,1

# Question 4 - Create a new column in the dataframe “age_group”. This column should contain the age group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. The dataframe should look like this after the column creation.

In [95]:

#data['age'].unique()
data['age'].replace({'24ko':'24'},inplace=True)
data['age'].unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '56', '50', '55', '54', '62', '60', '59', '47',
       '61', '52', '66', '57', '67', '65', '71', '63', '64', '68', '69',
       '99', '72', '75', '76'], dtype=object)

In [102]:
data['age_group'].unique()
data['age_group'].replace({'24ko':'24'},inplace=True)

In [103]:
data['age_group'].unique()

array(['26', '34', '25', '36', '22', '38', '23', '42', '51', '29', '24',
       '30', '39', '37', '19', '44', '53', '32', '21', '18', '20', '27',
       '48', '28', '45', '74', '35', '31', '70', '40', '49', '46', '43',
       '41', '33', '58', '56', '50', '55', '54', '62', '60', '59', '47',
       '61', '52', '66', '57', '67', '65', '71', '63', '64', '68', '69',
       '99', '72', '75', '76'], dtype=object)

In [104]:
data1 =data[(data['age_group'] > '18') & (data['age_group'] < '25')]

In [107]:
data1['age_group'].unique()

array(['22', '23', '24', '19', '21', '20'], dtype=object)

In [108]:
data1['age_group'] = '18-25'

C:\Users\aslam\AppData\Local\Temp\ipykernel_10444\2139180286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['age_group'] = '18-25'

In [109]:
data1

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight,day
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505,24
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477,24
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477,24
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738,24
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25,Male,188,BC,0.040519,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6858,6859,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Fully Satisfied,24,18-25,Male,241,Gen,1.812926,1
6859,6860,6-1-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Left Front,Did not vote,Fully Dissatisfied,Somewhat Satisfied,21,18-25,Male,146,EBC,1.558234,1
6861,6862,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",BJP,BJP,Fully Dissatisfied,Somewhat Satisfied,22,18-25,Male,166,Gen,0.080137,1
6864,6865,6-1-2017,Urban,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),RJD,Can’t say,Fully Dissatisfied,20,18-25,Male,241,Gen,1.812926,1
6865,6866,6-1-2017,Rural,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,Did not vote,Fully Satisfied,Somewhat Satisfied,23,18-25,Male,243,Gen,0.080137,1

In [110]:
data2 =data[(data['age_group'] > '25') & (data['age_group'] < '40')]

In [111]:
data2['age_group'] = '25-40'

C:\Users\aslam\AppData\Local\Temp\ipykernel_10444\1359659790.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['age_group'] = '25-40'

In [112]:
data2

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight,day
0,1,5-24-2017,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,25-40,Male,211,Gen,0.346969,24
1,2,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,25-40,Male,189,BC,0.603419,24
3,4,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,25-40,Male,194,Gen,1.101298,24
5,6,5-24-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",Others,BJP,Somewhat Satisfied,Fully Dissatisfied,38,25-40,Male,178,Gen,0.382603,24
6,7,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,34,25-40,Male,172,BC,0.521283,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6852,6853,6-1-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",Undecided,BJP,Fully Satisfied,Fully Satisfied,28,25-40,Male,149,SC,0.983441,1
6854,6855,6-1-2017,Rural,Post - Graduation,"₹ 5,000 - ₹ 10,000",RJD,BJP,Fully Dissatisfied,Fully Dissatisfied,37,25-40,Male,143,Gen,0.085030,1
6855,6856,6-1-2017,Rural,12th Pass,"₹ 5,000 - ₹ 10,000",NOTA,JD(U),Fully Dissatisfied,Fully Dissatisfied,30,25-40,Male,241,EBC,0.174156,1
6863,6864,6-1-2017,Rural,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,30,25-40,Male,169,BC,0.252780,1
6866,6867,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",JAP(L),JAP(L),Fully Satisfied,Fully Satisfied,33,25-40,Male,241,Gen,1.797518,1

In [113]:
data3 =data[(data['age_group'] > '40') & (data['age_group'] < '55')]

In [115]:
data3['age_group'] ='40-55'

C:\Users\aslam\AppData\Local\Temp\ipykernel_10444\983973614.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data3['age_group'] ='40-55'

In [116]:
data3

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight,day
11,12,5-24-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",LJP,JD(U),Somewhat Satisfied,Fully Dissatisfied,42,40-55,Male,183,BC,2.824391,24
12,13,5-24-2017,Urban,Post - Graduation,"₹ 5,000 - ₹ 10,000",Undecided,JD(U),Somewhat Dissatisfied,Somewhat Dissatisfied,51,40-55,Male,183,SC,20.558759,24
28,29,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,44,40-55,Male,205,BC,1.337935,24
30,31,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",NOTA,NOTA,Fully Dissatisfied,Fully Dissatisfied,44,40-55,Male,183,Gen,1.344773,24
33,34,5-24-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,53,40-55,Male,188,Gen,1.936195,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6810,6811,6-1-2017,Rural,12th Pass,"₹ 1,50,000 & above",RJD,RJD,Somewhat Satisfied,Fully Dissatisfied,52,40-55,Male,150,Gen,2.112264,1
6812,6813,6-1-2017,Rural,10th Pass,"₹ 5,000 - ₹ 10,000",BJP,RJD,Somewhat Satisfied,Fully Satisfied,45,40-55,Male,142,Gen,0.710519,1
6829,6830,6-1-2017,Urban,Graduate,"₹ 20,000 - ₹ 30,000",JD(U),JD(U),Fully Satisfied,Somewhat Satisfied,48,40-55,Male,146,EBC,6.328899,1
6840,6841,6-1-2017,Rural,Graduate,"₹ 1,50,000 & above",NOTA,BJP,Fully Dissatisfied,Somewhat Satisfied,45,40-55,Male,241,BC,1.425852,1
6856,6857,6-1-2017,Rural,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,JD(U),Somewhat Satisfied,Somewhat Dissatisfied,45,40-55,Male,150,BC,2.112264,1

In [118]:
data4 = data[data['age_group'] > '55']

In [119]:
data4['age_group'] = '55+'

C:\Users\aslam\AppData\Local\Temp\ipykernel_10444\2931846356.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data4['age_group'] = '55+'

In [120]:
data4

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight,day
69,70,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",RJD,INC,Fully Dissatisfied,Fully Satisfied,74,55+,Male,192,ST,1.805903,24
74,75,5-24-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Dissatisfied,Somewhat Satisfied,70,55+,Male,183,BC,0.343147,24
121,122,5-24-2017,Rural,Graduate,"₹ 20,000 - ₹ 30,000",NOTA,Did not vote,Somewhat Satisfied,Fully Dissatisfied,58,55+,Male,187,Gen,2.092567,24
126,127,5-24-2017,Urban,Graduate,"₹ 80,000 - ₹ 1,50,000",NOTA,BJP,Fully Dissatisfied,Fully Dissatisfied,56,55+,Male,183,Gen,2.092567,24
277,278,5-24-2017,Urban,Post - Graduation,"₹ 30,000 - ₹ 50,000",BJP,BJP,Somewhat Satisfied,Somewhat Satisfied,58,55+,Male,186,Gen,1.917992,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,55+,Male,141,SC,5.308107,29
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,55+,Male,146,Gen,0.710519,31
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,55+,Male,168,Gen,1.535906,31
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,55+,Male,144,SC,4.741094,1
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,55+,Male,165,Gen,0.300990,1

In [121]:
data = pd.concat([data1,data2,data3,data4])

In [122]:
data

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight,day
4,5,5-24-2017,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,18-25,Male,176,BC,0.333505,24
8,9,5-24-2017,Urban,12th Pass,"BPL/Below ₹ 5,000",BJP,BJP,Fully Satisfied,Fully Dissatisfied,23,18-25,Male,181,Gen,0.226477,24
14,15,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",BJP,BJP,Fully Satisfied,Fully Dissatisfied,24,18-25,Male,199,Gen,0.226477,24
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738,24
18,19,5-24-2017,Rural,Graduate,"₹ 30,000 - ₹ 50,000",JAP(L),JD(U),Somewhat Dissatisfied,Fully Dissatisfied,23,18-25,Male,188,BC,0.040519,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6579,6580,5-29-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",RJD,JD(U),Fully Dissatisfied,Fully Dissatisfied,67,55+,Male,141,SC,5.308107,29
6702,6703,5-31-2017,Urban,Professional Education,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Dissatisfied,Fully Dissatisfied,68,55+,Male,146,Gen,0.710519,31
6720,6721,5-31-2017,Rural,Graduate,"₹ 10,000 - ₹ 20,000",BJP,BJP,Somewhat Satisfied,Fully Satisfied,76,55+,Male,168,Gen,1.535906,31
6787,6788,6-1-2017,Rural,10th Pass,"₹ 20,000 - ₹ 30,000",JD(U),BJP,Fully Satisfied,Fully Satisfied,60,55+,Male,144,SC,4.741094,1
6851,6852,6-1-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Satisfied,Somewhat Dissatisfied,66,55+,Male,165,Gen,0.300990,1

In [123]:
data['age_group'].unique()

array(['18-25', '25-40', '40-55', '55+'], dtype=object)

# Question 5 - How many samples were collected for each age-group? Which age-group had the most samples?

In [124]:
data['age_group'].value_counts()

25-40    3246
18-25    1969
40-55     624
55+       108
Name: age_group, dtype: int64

# Question 6 - What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions?

In [125]:
data['Vote_Now'].unique()

array(['JD(U)', 'BJP', 'RJD', 'JAP(L)', 'Others', 'NOTA', 'BSP', 'RJJP',
       'Plurals', 'AAP', 'INC', 'LJP', 'RLSP', 'HAM', 'Undecided', 'VIP',
       'Left Front', 'AIMIM'], dtype=object)

In [126]:
data[(data['Vote_Now'] == 'RJD') & (data['Past_Vote'] == 'RJD')]

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,age_group,gender,assembly_no,category,weight,day
16,17,5-24-2017,Rural,Post - Graduation,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,24,18-25,Male,194,BC,0.769738,24
38,39,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Can’t say,Can’t say,22,18-25,Male,181,SC,1.596987,24
47,48,5-24-2017,Urban,Graduate,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,20,18-25,Male,172,BC,1.188838,24
85,86,5-24-2017,Rural,12th Pass,"BPL/Below ₹ 5,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,22,18-25,Male,187,BC,0.586158,24
120,121,5-24-2017,Rural,Graduate,"₹ 1,50,000 & above",RJD,RJD,Fully Satisfied,Fully Satisfied,23,18-25,Male,187,BC,0.891022,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3012,3013,5-29-2017,Urban,Post - Graduation,"₹ 50,000 - ₹ 80,000",RJD,RJD,Somewhat Dissatisfied,Somewhat Satisfied,56,55+,Male,214,BC,4.052635,29
4753,4754,5-26-2017,Rural,Post - Graduation,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,61,55+,Male,16,BC,4.650280,26
5493,5494,5-26-2017,Urban,Graduate,"₹ 30,000 - ₹ 50,000",RJD,RJD,Fully Dissatisfied,Fully Dissatisfied,61,55+,Male,156,Gen,1.044473,26
5687,5688,5-29-2017,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,62,55+,Male,156,EBC,10.814150,29
5830,5831,5-30-2017,Urban,Graduate,"₹ 50,000 - ₹ 80,000",RJD,RJD,Somewhat Dissatisfied,Fully Dissatisfied,59,55+,Male,48,Gen,2.359308,30

# Question 7 - For each day of sample collection, determine the proportion of respondents who were fully satisfied with the performance of the CM. So if there were a total of 1000 samples on day 1 and 300 out of those said they were fully satisfied, then our answer for that day would be 0.3.

In [144]:
b =data['collection_date'].value_counts()
b

5-24-2017    1306
5-25-2017     850
5-28-2017     662
5-27-2017     576
6-1-2017      530
5-29-2017     522
5-30-2017     516
5-26-2017     504
5-31-2017     481
Name: collection_date, dtype: int64

In [128]:
data['CM_satisfaction'].unique()

array(['Fully Satisfied', 'Fully Dissatisfied', 'Somewhat Dissatisfied',
       'Can’t say', 'Somewhat Satisfied'], dtype=object)

In [145]:
a= data[data['CM_satisfaction'] == 'Fully Satisfied']['collection_date'].value_counts()
print(a)

5-24-2017    128
5-25-2017     83
5-28-2017     76
6-1-2017      66
5-29-2017     62
5-30-2017     60
5-31-2017     52
5-26-2017     48
5-27-2017     48
Name: collection_date, dtype: int64

In [146]:
c = a/b * 100

In [147]:
print(c)

5-24-2017     9.800919
5-25-2017     9.764706
5-26-2017     9.523810
5-27-2017     8.333333
5-28-2017    11.480363
5-29-2017    11.877395
5-30-2017    11.627907
5-31-2017    10.810811
6-1-2017     12.452830
Name: collection_date, dtype: float64